@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- ! CONTENT -->
<div class="container">
    <div class="my-4">
        <center><h1>ABOUT US</h1></center>
    </div>
    <hr />

    <div class="showroom card-aboutus row">
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card p-0">
                <div class="card-body">
                    <a href="showroom.html" target="_self">
                        <p class="text my-0 mb-3">
                            <center><i class="fa fa-shopping-cart text-dark fa-4x"></i></center>
                            <br />
                            <center>
                                <h2>Showroom</h2>
                            </center>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card p-0">
                <div class="card-body card-aboutus">
                    <a href="payment.html" target="_self">
                        <p class="text my-0 mb-3">
                            <center><i class="fa fa-credit-card text-dark fa-4x"></i></center>
                            <br />
                            <center>
                                <h2>Payment Policy</h2>
                            </center>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card p-0">
                <div class="card-body card-aboutus">
                    <a href="exchange.html" target="_self">
                        <p class="text my-0 mb-3">
                            <center><i class="fa fa-undo text-dark fa-4x"></i></center>
                            <br />
                            <center>
                                <h2>Return & Exchanges</h2>
                            </center>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card p-0">
                <div class="card-body card-aboutus">
                    <a href="productcare.html" target="_self">
                        <p class="text my-0 mb-3">
                            <center><i class="fa fa-shopping-bag text-dark fa-4x"></i></center>
                            <br />
                            <center>
                                <h2>Product Care</h2>
                            </center>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card p-0">
                <div class="card-body card-aboutus">
                    <a href="delivery.html" target="_self">
                        <p class="text my-0 mb-3">
                            <center><i class="fa fa-truck text-dark fa-4x"></i></center>
                            <br />
                            <center>
                                <h2>Delivery Policy</h2>
                            </center>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card p-0">
                <div class="card-body card-aboutus">
                    <a href="privacy.html" target="_self">
                        <p class="text my-0 mb-3">
                            <center><i class="fa fa-user-secret text-dark fa-4x"></i></center>
                            <br />
                            <center>
                                <h2>Privacy Policy</h2>
                            </center>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <center>
        <a href="https://localhost:44388/" target="_self"><div class="btn btn-outline-dark rounded-0 my-4">HOME PAGE</div></a>
        <a href="https://localhost:44388/Product/Index" target="_self"><div class="btn btn-dark rounded-0 my-4">CATEGORIES</div></a>
    </center>
</div>