.card-categories > img {
  width: 100%;
  height: 350px;
}

/* ! MAIN */
body,
html > body {
  background-color: #f6f5f3;
}

.document img {
  height: 80px;
}

.card-img {
  height: 400px;
}

.card-categories:hover {
  box-shadow: 0 4px 8px 0 rgba(156, 136, 136, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
  background-image: url('../images_final/jumbotron/jumbotron-bag2.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
